:root {
    --color-bg-dark: #0a0a0a;
    --color-bg-panel: #111111;
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #a0a0a0;

    --color-accent-cyan: #00f3ff;
    --color-accent-cyan-dim: rgba(0, 243, 255, 0.2);
    --color-accent-cyan-glow: rgba(0, 243, 255, 0.6);

    --color-border: #333;
    --color-success: #00ff9d;
    --color-error: #ff0055;

    --font-mono: 'Courier New', Courier, monospace;
    --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-cyan);
}